{% extends "base.html" %}
{% set path_to_root = '..' %}
{% block extra_head %}
{#
<script src="https://cdn.jsdelivr.net/npm/d3@4.13.0/build/d3.js"></script>
<script src="https://cdn.jsdelivr.net/npm/webcola@3.4.0/WebCola/cola.js"></script>
#}
<script src="https://cdn.jsdelivr.net/npm/d3@4.13.0/build/d3.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/webcola@3.4.0/WebCola/cola.min.js"></script>
<script src="{{ path_to_root }}/static/graph_cocycle_layout.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    let container = document.getElementsByClassName("graph-cocycle-container")[0];
    fetch("{{ json_filename }}").then(response => {
        response.json().then(representative => {
            for (let i = 0; i < representative.terms.length; i++) {
                let [coeff, graph] = representative.terms[i];
                render_graph_cocycle_term(container, coeff, graph, representative.num_vertices);
            }
        });
    });
});
</script>
{% endblock %}
{% block title_plain %}{{ name_plain }}{% endblock %}
{% block title %}<a href="{{ path_to_root }}/index.html">Index</a> &raquo; {{ name }}{% endblock %}
{% block body %}
<table class="attributes">
<tr><td>Alternative names:</td><td>{% if alternative_names %}<ul class="attribute">{% for alt_name in alternative_names %}<li>{{ alt_name }}</li>{% endfor %}</ul>{% else %}-{% endif %}</td></tr>
<tr><td>Number of vertices (per graph):</td><td>{{ num_vertices }}</td></tr>
<tr><td>Number of edges (per graph):</td><td>{{ num_edges }}</td></tr>
<tr><td>Tags:</td><td>{% if tags %}{% for tag in tags %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}{% else %}-{% endif %}</td></tr>
<tr><td>References:</td><td>{% if references %}<ul class="attribute">{% for reference in references %}<li>{{ reference }}</li>{% endfor %}</ul>{% else %}-{% endif %}</td></tr>
</table>
<h2>Definition</h2>
<table class="attributes">
<tr><td>Representative:</td><td><div class="graph-cocycle-container"></div></td></tr>
<tr><td>Code (gcaops):</td><td><pre>{{ definition_code_gcaops|default('-') }}</pre></td></tr>
</table>
{% if deformations %}
<h2>Poisson deformations</h2>
<ul>
{% for deformation_slug, poisson_name in deformations %}
<li><a href="{{ path_to_root }}/poisson_structures/{{ deformation_slug }}.html">Deformation of {{ poisson_name }}</a></li>
{% endfor %}
</ul>
{% endif %}
{% endblock %}
