{% extends "base.html" %}
{% block title_plain %}Index{% endblock %}
{% block title %}Index{% endblock %}
{% block body %}
<p>These are all the Poisson structures and graph cohomology classes (from the known <a href="references.html">references</a>) currently in the database:</p>
{#
<h4>Families of Poisson structures</h4>
<ul class="index">
    <li><a href="">Nambu–Poisson structures on $\mathbb{R}^n$</a></li>
    <li><a href="">Quadratic Poisson structures on $\mathbb{R}^n$</a></li>
</ul>
#}
<h4>Poisson structures</h4>
<ul class="index">
{% for slug, name in poisson_structures %}
    <li><a href="poisson_structures/{{ slug }}.html">{{ name }}</a></li>
{% endfor %}
</ul>
<h4>Graph cohomology classes (that act on Poisson structures)</h4>
<ul class="index">
{% for slug, name in graph_cohomology_classes %}
    <li><a href="graph_cohomology/{{ slug }}.html">{{ name }}</a></li>
{% endfor %}
</ul>
{% endblock %}
