{% extends "base.html" %}
{% block title_plain %}Index{% endblock %}
{% block title %}Index{% endblock %}
{% block body %}
Families of Poisson structures:
<ul class="index">
    <li><a href="">Nambu–Poisson structures on $\mathbb{R}^n$</a></li>
    <li><a href="">Quadratic Poisson structures on $\mathbb{R}^n$</a></li>
</ul>
Poisson structures:
<ul class="index">
    <li><a href="poisson_structures/generic_poisson_structure_2d.html">Generic Poisson structure on $\mathbb{R}^2$</a></li>
    <li><a href="poisson_structures/nambu_poisson_structure_3d.html">Nambu–Poisson structure on $\mathbb{R}^3$</a></li>
    <li><a href="poisson_structures/nambu_poisson_structure_4d.html">Nambu–Poisson structure on $\mathbb{R}^4$</a></li>
</ul>
Graph cohomology classes (which act on Poisson structures):
<ul class="index">
    <li><a href="graph_cohomology/3_wheel_graph_cohomology_class.html">3-wheel graph cohomology class</a></li>
    <li><a href="graph_cohomology/5_wheel_graph_cohomology_class.html">5-wheel graph cohomology class</a></li>
    <li><a href="graph_cohomology/7_wheel_graph_cohomology_class.html">7-wheel graph cohomology class</a></li>
    <li><a href="">9-wheel graph cohomology class</a></li>
</ul>
{% endblock %}
