{% extends "base.html" %}
{% block title_plain %}Index{% endblock %}
{% block title %}Index{% endblock %}
{% block body %}
Families of Poisson structures:
<ul class="index">
    <li><a href="">Nambu–Poisson structures on $\mathbb{R}^n$</a></li>
    <li><a href="">Quadratic Poisson structures on $\mathbb{R}^n$</a></li>
</ul>
Poisson structures:
<ul class="index">
{% for slug, name in poisson_structures %}
    <li><a href="poisson_structures/{{ slug }}.html">{{ name }}</a></li>
{% endfor %}
</ul>
Graph cohomology classes (which act on Poisson structures):
<ul class="index">
{% for slug, name in graph_cohomology_classes %}
    <li><a href="graph_cohomology/{{ slug }}.html">{{ name }}</a></li>
{% endfor %}
</ul>
{% endblock %}
