{% extends "base.html" %}
{% set path_to_root = '..' %}
{% block title_plain %}{{ poisson_structure_name_plain }} deformation from {{ graph_cohomology_class_name }}{% endblock %}
{% block title %}<a href="../index.html">Index</a> &raquo; <a href="{{ poisson_structure_slug }}.html">{{ poisson_structure_name }}</a> &raquo; Deformation from {{ graph_cohomology_class_name }}{% endblock %}
{% block extra_head %}
<script src="{{ path_to_root }}/static/code_block.js"></script>
<script>
document.addEventListener("DOMContentLoaded", function() {
    show_or_hide_code_block('poisson-deformation-code');
});
</script>
{% endblock %}
{% block extra_body_before %}
<div class="page-options"><pre>Show code: <a href="javascript:toggle_code_block('poisson-deformation-code');">[gcaops]</a></pre></div>
{% endblock %}
{% block body %}
<table class="attributes">
<tr><td>Poisson structure:</td><td><a href="{{ poisson_structure_slug }}.html">{{ poisson_structure_name }}</td></tr>
<tr><td>Graph cohomology class:</td><td><a href="../graph_cohomology/{{ graph_cohomology_class_slug }}.html">{{ graph_cohomology_class_name }}</a></td></tr>
<tr><td>Tags:</td><td>{% if tags %}{% for tag in tags %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}{% else %}-{% endif %}</td></tr>
<tr><td>References:</td><td>{% if references %}
<ul class="attribute">
{% for reference in references %}
<li>[<a href="{{ path_to_root }}/references.html#{{ reference.key }}">{{ reference.key }}</a>{% if reference.specifically %}, {{ reference.specifically }}{% endif %}]{% if reference.comment %}: {{ reference.comment }}{% endif %}</li>
{% endfor %}
</ul>
{% else %}-{% endif %}</td></tr>
</table>
<h2>Bi-vector field deformation term $Q$ with $[P,Q] = 0$</h2>
<table class="attributes">
<tr><td>Formula for $Q$:</td><td><pre>{{ definition_formula|default('-') }}</pre></td></tr>
<tr><td>Is a Poisson 2-coboundary:</td><td>{% if is_known_coboundary %}Yes, a vector field $X$ such that $Q=[P,X]$ is given below.{% else %}?{% endif %}</td></tr>
<tr id="poisson-deformation-code"><td>Code (<code>gcaops</code>):</td><td><pre><code class="language-python">{{ definition_code_gcaops|default('-') }}</code></pre></td></tr>
</table>
{% if is_known_coboundary %}
<h2>Vector field $X$ such that $Q = [P,X]$</h2>
<table class="attributes">
<tr><td>Formula for $X$:</td><td><pre>{{ vector_field_potential_formula }}</pre></td></tr>
</table>
{% endif %}
{% if hamiltonian_2d_formula %}
<h2>Hamiltonian function $H$ such that $X = [\xi_1\xi_2, H]$</h2>
<table class="attributes">
<tr><td>Formula for $H$:</td><td><pre>{{ hamiltonian_2d_formula }}</pre></td></tr>
</table>
{% endif %}
{% endblock %}
{% block footer %}
<p id="footer">This page's source on GitHub: <a href="https://github.com/seaofpoisson/seaofpoisson.github.io/blob/master/{{ source_file_path }}" target="_blank"><code>{{ source_file_name }}</code></a></p>
{% endblock %}
