{% extends "base.html" %}
{% set path_to_root = '..' %}
{% block title_plain %}{{ name_plain }}{% endblock %}
{% block title %}<a href="../index.html">Index</a> &raquo; {{ name }}{% endblock %}
{% block body %}
<table class="attributes">
<tr><td>Alternative names:</td><td>{% if alternative_names %}<ul class="attribute">{% for alt_name in alternative_names %}<li>{{ alt_name }}</li>{% endfor %}</ul>{% else %}-{% endif %}</td></tr>
<tr><td>Tags:</td><td>{% if tags %}{% for tag in tags %}{{ tag }}{% if not loop.last %}, {% endif %}{% endfor %}{% else %}-{% endif %}</td></tr>
<tr><td>References:</td><td>{% if references %}<ul class="attribute">{% for reference in references %}<li>{{ reference }}</li>{% endfor %}</ul>{% else %}-{% endif %}</td></tr>
</table>
<h2>Definition</h2>
<table class="attributes">
<tr><td>Formula:</td><td>{{ definition_formula|default('-') }}</td></tr>
<tr><td>Code (gcaops):</td><td><pre>{{ definition_code_gcaops|default('-') }}</pre></td></tr>
</table>
<h2>Deformations</h2>
{% if deformations %}
<ul>
{% for (gcc_slug, gcc_name) in deformations %}
    <li><a href="{{ slug }}_deformation_from_{{ gcc_slug }}.html">Deformation from {{ gcc_name }}</a></li>
{% endfor %}
</ul>
{% else %}
No deformations have been stored in the database so far.
{% endif %}
{% endblock %}
